<article
  class="media is-flex-direction-row is-flex-wrap-wrap is-justify-content-center my-6"
>
  <div class="media-content">
    <div class="content card-content" id="content">
      <p>
        <strong class="">{{user.username}}</strong>
        <br />
        <strong class="">{{title}}</strong>
        <br />
        {{content}}
        <br />
        <div class="buttons">
          <a
            class="button is-success"
            id={{id}}
            href="/dashboard/edit-blog/{{id}}"
          >Edit Blog</a>
          <button
            data-blog-id="{{id}}"
            class="button is-danger"
            id="delete-blog-btn"
          >Delete Blog</button>
        </div>
      </p>
    </div>
  </div>
</article>