<div>
  <h2
    class="subtitle is-flex-direction-row is-flex-wrap-wrap has-text-centered has-text-weight-semibold has-text-link"
  >
    My Posts
  </h2>
</div>

<article
  class="media is-flex-direction-row is-flex-wrap-wrap is-justify-content-center my-6"
>
  <div class="media-content">
    <div class="content card-content" id="content">
      <p>
        <strong class="">{{user.username}}</strong>
        <br />
        <strong class="">{{title}}</strong>
        <br />
        {{content}}
        <br />
        <div class="buttons">
          <button
            class="button is-success"
            id={{id}}
            href="/dashboard/edit-blog/{{id}}"
          >Edit Blog</button>
          <button
            data-blog-id="{{id}}"
            class="button is-danger"
            id="delete-blog-btn"
          >Delete Blog</button>
        </div>
      </p>
    </div>
  </div>
</article>